/*
 * Shortcode: common.scss
 * -----------------------------------------------
*/
.tm-sc-blog {
	&.blog-style1-current-theme {
		.entry-content {
			padding: 40px;
			background-color: #fff;
			position: relative;
			.entry-date {
				float: left;
				padding: 5px 15px;
				margin-right: 15px;
				ul {
					list-style: none;
				}
			}
			.entry-title {
				margin-top: 0;
			}
		}
	}
	&.blog-style2-current-theme {
		.post {
			.entry-header {
				position: relative;
				.entry-meta {
					&.meta-absolute {
						height: 100%;
						position: absolute;
						right: 0;
						top: 0;
						ul {
							list-style: none;
							li {
								i {
									display: block;
									font-size: 36px;
									margin-bottom: 5px;
								}
							}
						}
					}
				}
			}
			.entry-content {
				.list-inline>li {
			    display: inline-block;
			    padding-right: 5px;
			    padding-left: 5px;
				}
			}
		}
	}
}
