/*
 * Shortcode: instagram-feed.scss
 * -----------------------------------------------
*/
#sb_instagram {
	.sbi_follow_btn {
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: 1;
		a {
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: top;
			zoom: 1;
			padding: 10px 25px;
			margin: 5px auto 0;
			background: #333;
			border: none;
			color: #fff;
			text-decoration: none;
			font-size: 13px;
			line-height: 1.5;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			transition: all .1s ease-in;
			&:hover, &:focus {
				box-shadow: none;
			}
		}
	}
	#sbi_load {
		padding: 0 !important;
	}
	.sbi_photo_wrap .sbi_photo:after {
		background: rgba(0, 0, 0, 0.1) !important;
	}
}
