/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #ef5a9c;
$theme-color2: #de1b71;
$theme-color3: #2fc1e0;
$theme-color4: #0b4575;

@import "parts/loader";