/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #f55e45;
$theme-color2: #664871;
$theme-color3: #31ceef;
$theme-color4: #3e5d76;

@import "parts/loader";