/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #664871;
$theme-color2: #ca67c8;
$theme-color3: #27243b;
$theme-color4: #3e5d76;

@import "parts/loader";