/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #bf9e57;
$theme-color2: #8c6e63;
$theme-color3: #a2ba1a;
$theme-color4: #31ceef;

@import "parts/loader";