/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #5FC7AE;
$theme-color2: #59b473;
$theme-color3: #3E5D76;
$theme-color4: #0069BA;

@import "parts/loader";