/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #6a52a8;
$theme-color2: #e0578e;
$theme-color3: #a2ba1a;
$theme-color4: #077ad7;

@import "parts/loader";