/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #a2ba1a;
$theme-color2: #f55d45;
$theme-color3: #077ad7;
$theme-color4: #8c6e63;

@import "parts/loader";