/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #F2184F;
$theme-color2: #202C45;
$theme-color3: #FF6501;
$theme-color4: #003A6B;

@import "parts/loader";