/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #ee163b;
$theme-color2: #077ad8;
$theme-color3: #31ceef;
$theme-color4: #0b4575;

@import "parts/loader";