/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #077ad8;
$theme-color2: #0069BA;
$theme-color3: #27243B;
$theme-color4: #3E5D76;

@import "parts/loader";