/*
 * Shortcode: common.scss
 * -----------------------------------------------
*/

.font-size-13 {
	font-size: 13px;
}
.font-size-84 {
	font-size: 84px;
}
.font-36 {
	font-size: 36px;
}
.font-72 {
	font-size: 72px !important;
}
.mb-responsive--440 {
	margin-bottom: -440px;
	@include media-breakpoint-down(sm) {
		margin-bottom: 0;
	}
}
.display-table {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.display-table {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.border-1px-solid {
	border: 1px solid #f6f6f6;
}
.border-left-theme-colored1-3px {
	border-left: 3px solid;
}
.border-bottom-theme-colored2-2px {
	border-bottom: 2px solid;
}
.border-left-theme-colored1-6px {
	border-left: 6px solid !important;
}
.border-right-theme-colored1-6px {
	border-right: 6px solid !important;
}
.border-radius-5px {
	border-radius: 5px;
}

.border-rounded {
	border-radius: 50%;
}

.mt-05 {
	margin-top: 5px !important;
}

.font-opensans {
	font-family: $font-current-theme1 !important;
}

.list-style-square ul li {
	list-style-type: none;
}

.list-style-square ul li i {
	background: #c0c0c0;
	color: #555555;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	margin: 5px 10px 5px 0;
	text-align: center;
	width: 28px;
}

.fullscreen {
	height: 100vh;
}

.personal-home-style3 {
	background-attachment: fixed;
}